<div class="general">
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <h1>SIMPLE TODO LISTS</h1>
  <h2>FROM RUBY GARAGE</h2>
  <div class="projects">
    <%= render 'projects' %>
  </div>
  <input type ="button" src="/assets/add_but_img.gif" class ="create_todolist" value = "Add TODO List">
  <%= form_for @project, remote: true do |f| %>
  <%= f.text_field :title, class: "add_todolist_text"%>
  <%= f.submit "OK", class: "add_todolist_button" %>
  <% end %>
  <h5>&copy;Ruby Garage</h5>
</div>