<div class="general">
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <h1>SIMPLE TODO LISTS</h1>
      <h2>FROM RUBY GARAGE</h2>
      <% @projects.each do |project| %>
        <div class="project" id="<%= project.id %>">
          <div class="project_block">
            <image src="/assets/notepad.gif">
            <span class="project_name"><%= project.title %></span>
            <input type="text" class="project_input_text" placeholder="Set a new name for <%= project.title %>" size="30">
            <input type ="button" class ="project_input_button" value = "OK">
              <div class="project_toolbar">
                <input type="image" class="edit_project_img" src="/assets/edit_proj.gif">
                <image src="/assets/1.png">
                <input type="image" class="delete_project_img" src="/assets/del_proj.gif">
              </div>
          </div>
          <div class="add_task_block">
            <image src="/assets/inp_img.gif">
            <input type="text" class="task_input_text" placeholder="Start typing here to create a task..." size="25">
            <input type="date" class="task_input_date">
            <input type ="button" class ="task_input_button" value = "OK">
          </div>
          <ul class="task_list">
            <% project.tasks.each do |task| %>
              <li class="task_block" id="<%= task.id %>">
                <div class="task_status">
                  <%= check_box_tag "", "", task.status, class: "checkbox" %>
                </div>
                <div class="task_name">
                  <span class="task_name_span"><%= task.title %></span><span class="task_date_span">deadline: <%= task.date %></span>
                  <input type="text" class="task_edit_text" placeholder="Set a new name for <%= task.title %>" size="30">
                  <input type="date" class="task_edit_date">
                  <input type ="button" class ="task_edit_button" value = "OK">
                </div>
                <div class="task_toolbar">
                  <input type="image" src="/assets/leaf.png">
                  <image src="/assets/2.png">
                  <input type="image" class="edit_task_img_hover" src="/assets/edit_task.png">
                  <image src="/assets/2.png">
                  <input type="image" class="delete_task_img_hover" src="/assets/del_task.png">
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <input type ="button" src="/assets/add_but_img.gif" class ="create_todolist" value = "Add TODO List">
      <div class="add_todolist">
        <input type="text" class="add_todolist_text" placeholder="Write a new name for todo list" size="25">
        <input type="button" class="add_todolist_button" value="OK">
      </div>
      <h5>&copy;Ruby Garage</h5>
</div>